.nav-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header nav li {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    
}